@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900');

$color1: #FDF8F4;
$color2: #CA648E;
$color3: #D8D67B;
$color4: #FF9725;
$color5: #08BC84;
$color6: #707070;
$color7: #E8A5BC;
$color8: #F16E5F;

$alpha1: 0.5;
$alpha2: 1;

$bg-gradient: linear-gradient(-45deg, $color2, $color1);

$fontset1: 'Montserrat', sans-serif;

$breekpunt: 560px;

/* algemeen */
*{
    padding:0; 
    margin: 0;
    font-family: $fontset1;
    box-sizing:border-box;
}

body{
    color: #707070;
    background-color: $color1;
}
h1{
    font-weight: 900;
    font-size: 80px;

    @media (min-width: $breekpunt) {
        font-weight: 900;
        font-size: 140px;
        padding-top: 30px; 
    }
}
h2 {
    font-weight: 600;
    font-size: 44px;
    color: $color8;
}    
/* background vlekken */
.vlek-rood {
    background-image: url('../images/vlek_rood.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.vlek-roodroze {
    background-image: url('../images/vlek_roodroze.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.vlek-groen {
    background-image: url('../images/vlek_groen.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.vlek-roze {
    background-image: url('../images/vlek_roze.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.vlek-oranje {
    background-image: url('../images/vlek_oranje.png');
    background-repeat: no-repeat;
    background-size: cover;
}



/* button */
a.bttn {
    text-decoration:none;
    color: #FDF8F4;
    display: block;
    position:relative;
    margin-top: 40px;
    max-width: 50%;
    line-height: 50px;
    text-align:center;
    text-transform: uppercase;
    font-weight:800;
    padding-left: 5px;
    padding-right:5px;
    background-color: $color8;
    border-radius: 35px;
    transition: all 1s;
    left:0;
    top:0;
    box-shadow: 5px 5px $color7;
}

a.bttn:hover{
    box-shadow: 1px 1px $color7;
    left:5px;
    top:5px;
}

/* HOMEPAGE */
.container {
    .navbar-collapse{
        .navbar-nav {
            .nav-item{
                color: #707070;
                }
            .nav-item:hover{
                text-decoration: underline;
                color: #F16E5F;
                font-weight: 700;
                cursor:pointer;
            }
            .nav-link{
                color: #707070;
            }
            .nav-link:hover{
                text-decoration: underline;
                color: #F16E5F;
                font-weight: 700;
                cursor:pointer;
            }
            .nav-link:active{
                color: #F16E5F;
            }
        }
    }
}
.container1{
    .start {
        padding-top: 40px;
    }
    img {
        display: none;

        @media (min-width: $breekpunt) {
            display:block;
            max-width: 120%;
            height: auto;
            margin-left: auto;
            margin-right: auto;  
            margin-top: 50px;
        }
    }
    .definitie{
        margin-top: 80px;
        .txt {
            position: relative;
        }
        img {
            display: block;
            max-width: 50%;
            height: auto;
            margin-left: auto;
            margin-right: auto;

            @media (min-width: $breekpunt){
                display: none;
            }
        }
    }
    .soorten {
        margin-top: 20px;
        text-align: center;
        margin-top: 100px;
        padding-top: 50px;
        padding-right: 20px;
        padding-left: 20px;
        color: #FDF8F4;

        h3{
            color: $color3;
        }
        img {
            margin-top: 30px;
            max-width: 80%;
            height: auto;
            margin-bottom: 30px;
        }

        @media (min-width: $breekpunt){
            margin-top: 90px;
        }

        .bttn {
            margin-left: auto;
            margin-right: 0px;
        }
    }
    .row6 {
        margin-top: 100px;
        .bttn {
            margin-left: auto;
            margin-right: 0px;
        }
    }
}

.container2{
    .row2 {
        margin-top: 50px;
        padding-bottom:30px;

        h1{
            font-size: 50px;
            color: #F16E5F;
            padding-bottom: 30px;

            @media (min-width: $breekpunt){
                font-size: 110px;
            }
        }  
    }
    .row3 {
        padding-top: 70px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        color: #FDF8F4;
        margin-bottom: -50px;
        margin-top: 10px;
    }
}
.container3{
    .hulp{
        h1 {
            margin-top: 50px;
            font-size: 50px;
            color: #FF9725;
            padding-bottom: 10px;

            @media (min-width: $breekpunt){
            font-size: 110px;
            }
        }
        h2 {
            color: #CA648E;
        }
        p{
            padding-top: 50px;
        }
    }
    .zelfhulp {
        margin-top: 50px;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        color: #FDF8F4;
        text-align: center;

        h2{
            color: #CA648E;
        }

        p{
            padding-top: 20px;
        }
        a.bttn {
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        input[type="submit"]{
            text-decoration:none;
            color: #FDF8F4;
            display: inline-block;
            position:relative;
            line-height: 50px;
            text-align:center;
            text-transform: uppercase;
            font-weight:800;
            padding-left: 20px;
            padding-right:20px;
            background-color: $color8;
            margin-top: 20px;
            border-radius: 35px;
            border: 0px;
            transition: all 1s;
            left:0;
            top:0;
            box-shadow: 5px 5px $color7;
        }
        input[type="submit"]:hover{
            box-shadow: 1px 1px $color7;
            left:5px;
            top:5px;
        }
        input[type="text"]{
            max-width: 42%;
            margin-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 35px;
            line-height: 50px;
    
            @media (min-width: $breekpunt){
            width: 340px;
            }   
            
        }

    }

}

.container4{
    .doneer{
        display: flex;
        h1 {
            margin-top: 50px;
            font-size: 50px;
            color: #08BC84;
            padding-bottom: 10px;

            @media (min-width: $breekpunt){
            font-size: 110px;
            }
        }
        h2 {
            color: #D8D67B;
            padding-bottom: 50px;
        }
        .progress{
            margin-top: 40px;
            .progress-bar{
                background-color: #08BC84;
            }
    
        }
        a.bttn {
            display: inline-block;
            margin-left: 0px;
            margin-right: auto;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
.container5{
    .contact {
        margin-top: 50px;
        padding-bottom: 30px;
        h1{
            font-size: 50px;
            color: #CA648E;
            padding-bottom: 10px;
    
            @media (min-width: $breekpunt){
            font-size: 110px;
            }
        }
        
        h2 {
            color: #F16E5F;
            padding-bottom: 30px;
        }
            
        p{
            padding-top: 50px;
            }
    
        
        
        input[type="submit"]{
            text-decoration:none;
            color: #FDF8F4;
            display: block;
            position:relative;
            line-height: 50px;
            text-align:center;
            text-transform: uppercase;
            font-weight:800;
            padding-left: 20px;
            padding-right:20px;
            background-color: $color8;
            margin-top: 20px;
            border-radius: 35px;
            border: 0px;
            transition: all 1s;
            left:0;
            top:0;
            box-shadow: 5px 5px $color7;
        }
        input[type="submit"]:hover{
            box-shadow: 1px 1px $color7;
            left:5px;
            top:5px;
        }
        input[type="text"]{
            max-width: 42%;
            margin-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 35px;
            line-height: 50px;
    
            @media (min-width: $breekpunt){
            width: 340px;
            }   
            
        }
    }
}

.footer {
    margin-top: 50px;
    padding-bottom: 30px;
    background-color: white;

        @media (min-width: $breekpunt) {
        padding-left: 10%;
        }

    input[type="submit"]{
        text-decoration:none;
        color: #FDF8F4;
        display: inline;
        position:relative;
        line-height: 50px;
        text-align:center;
        text-transform: uppercase;
        font-weight:800;
        padding-left: 20px;
        padding-right:20px;
        background-color: $color8;
        margin-top: 2em;
        border-radius: 35px;
        border: 0px;
        transition: all 1s;
        left:0;
        top:0;
        box-shadow: 5px 5px $color7;
    }
    input[type="submit"]:hover{
        box-shadow: 1px 1px $color7;
        left:5px;
        top:5px;
    }

    input[type="text"]{
        width: 250px;
        margin-right: 10px;
        margin-left: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 35px;
        line-height: 50px;

        @media (min-width: $breekpunt){
        width: 340px;
        }    
    }    
}    


